.footer{
    margin-top:100px;
    background-image: url("../src/components/Images/imagenes/short.jpg");
    height: 180px;
}

.politicas{
    display: flex;
    justify-content: center;
    text-decoration: none;
    
}
.politica{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.redes{
    display: flex;
    justify-content: center;
  }

.i, .w, .t{
    font-size: 26px;
    color:black;
    margin-top: 106px;
  }
  .i:hover{
    color:rgba(160, 76, 160, 0.685);
   }
  .w:hover{
    color:green;
   }
  .t:hover{
    color:rgba(0, 0, 255, 0.521);
   }