 .card{
  display: flex;
  align-items: center;
   
  border:none !important;
}

 .cardImage{
  margin-top: 20px;
  width: 400px;
  height: 300px;
 }

 
  @media (max-width:560px) {
    .movieImage{
      width: 90%;
      height: auto;
    }
     
    }
    
  
  
    